<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <!-- 最新的 Bootstrap 核心 css 文件 -->
    <!-- 在url上 使用 @标签 可以帮我们 自动加上 contextpath -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:src="@{/js/common/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!--<script type="text/javascript"  />-->

</head>
<body>

<!--  导航栏                      开始  			 ↓ -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="#">公文流转</a></li>

                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        人员管理 <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="active"><a href="/account/list">用户列表</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>


                </li>
            </ul>


            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入员工姓名或工号">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>


            <!--  未登录用户 -->
            <ul th:if="${session.account} ==null" class="nav navbar-nav navbar-right">
                <li><a href="/account/register">注册</a></li>
                <li><a href="/account/login">登录</a></li>
            </ul>

            <!-- 已登录用户    ↓ -->
            <ul th:if="${session.account} !=null" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        欢迎你 : [[${session.account.name}]] <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/profile">个人信息</a></li>
                        <li >
                            <a href="/account/updatePwd">修改修改密码</a>
                            <!--<div id="updatePassword">修改修改密码 </div>-->

                        </li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/account/logOut">退出登录</a></li>
                    </ul>
                </li>
            </ul>
            <!-- 已登录用户   ↑ -->

        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
<!--  导航栏                      结束  			↑       -->


<!--  巨幕      开始   ↓ -->
<div class="jumbotron">
    <h3>欢迎使用无纸化办公系统</h3>
    <p>.version 1.0 </p>
    <p></p>
</div>
<!--  巨幕 结束   ↑ -->

<!--  列表      开始   ↓ -->
<table class="table table-hover">

    <tr>
        <th>序号</th>
        <th>工号</th>
        <th>name</th>
        <th>nickName</th>
        <th>age</th>
        <th>location</th>
        <th>role</th>
        <th>操作</th>
    </tr>
    <tr th:each="account : ${pageInfo.list}">
        <td th:text="${accountStat.count}"></td>
        <td th:text="${account.id}">工号</td>
        <td th:text="${account.name}">name</td>
        <td th:text="${account.nickName}">nickName</td>
        <td th:text="${account.age}">age</td>
        <td th:text="${account.location}">location</td>
        <td th:text="${account.role}">role</td>
        <!--删除因为 js报错 暂时先不写-->
        <!--<a th:href="@{javascript:'deleteById('+${account.id}+');'}">删除</a>-->

    </tr>
</table>
<!--  列表 结束   ↑ -->

<!--  底部导航 开始  👇 -->

[[${pageInfo}]]
<nav aria-label="Page navigation">
    <ul class="pagination">
        <!--上一页-->
        <li th:class="${pageInfo.isFirstPage}  ? 'disabled' : '' ">
            <!-- # 换成 javascript:void(0)可能更好 -->
            <a th:href="@{${pageInfo.prePage} == 0? '#' :'/account/list?pageNum='+${pageInfo.prePage}}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li th:each="pageNum : ${pageInfo.navigatepageNums}">
            <a th:href="@{'/account/list?pageNum='+${pageNum}}">[[${pageNum}]]</a>
        </li>
        <!--下一页-->
        <li>
            <a th:href="@{'/account/list?pageNum='+${pageInfo.nextPage}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

    </ul>
</nav>

<!--  底部导航 结束   ↑ -->

<!--<script type="text/javascript"  th:inline="none" >-->

<!--function deleteById(id) {-->
<!--var isDeleted = confirm("确定删除吗?");-->
<!--if (isDeleted == false) {-->
<!--return;-->
<!--}-->

<!--var url = "/account/deleteById";-->
<!--var args = {id: id};-->
<!--$.post(url, args, function (data) {-->
<!--console.log(data);-->
<!--if (data.code == 200) {-->
<!--//删除成功,刷新页面-->
<!--window.location.reload();-->
<!--} else {-->
<!--alert(data.msg);-->
<!--}-->
<!--})-->
<!--}-->


<!--</script>-->

<!--修改密码 开始 ↓-->
<script type="application/javascript">
    function updatePassword() {
        $("#updatePassword").click(function () {
            var url = "/account/updatePassword";
            var args = {password: password};

            $.post(url, args, function (data) {
                alert("修改成功, 请重新登录");
                if (data.code == 200) {
                    //修改密码成功, 要求用户重新登录
                    window.location.href = "/index";
                } else {
                    alert(data.msg);
                }
            })

        });

    }


</script>

<!--修改密码 结束 ↑-->

</body>
</html>